@import '../core/_mixins.scss';
@import '../core/_variables.scss';

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.7px solid $color-detail;
  padding: 18px 0 20px;
  color: $color-text;
  font-family: $font-nav;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.98vh 40px 0.98vh 41px;
  }

  &__small {
    font-size: 11px;
    text-align: start;
    text-decoration: none;
    color: black;
  }

  &__mail {
    font-size: 11px;
    font-weight: 200;

    &--italic {
      font-style: italic;
    }
  }
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}
