@import '../core/_mixins.scss';
@import '../core/_variables.scss';

.header {
  height: 100px;
  font-family: $font-nav;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  text-align: center;
  color: $color-text;

  width: 100vw;
  margin-top: 15px;
  margin-bottom: 15px;

  &__lowerCase {
    text-transform: none;
  }
}
