@import './core/_mixins.scss';
@import './core/_variables.scss';

.top {
    grid-column: 4/5;
    margin-top: 10px;

    &--arrow {
      color: $color-icon;
      font-size: 14px;
    }

    &--text {
      font-family: $font-nav;
      text-transform: uppercase;
      font-size: 8px;
    }
  }