// fonts
$font-main: 'Open Sans', sans-serif;
$font-title: 'Cormorant Upright', serif;
$font-nav: 'IBM Plex Mono', monospace;

//font-size
$size-title-mobile: 45px;
$size-subtitle-mobile: 27px;
$size-mainp-mobile: 16px;
$size-secondp-mobile: 10px;


// colors
$color-icon: #fa130b;
$color-detail: #ed3b3b;
$color-text: #000000;
$color-hover: rgb(16, 248, 132);
$color-background: #fcf1ec;
