// fonts
$font-main: 'Open Sans', sans-serif;
$font-title: 'Cabin Sketch', cursive;
$font-nav: 'IBM Plex Mono', monospace;

// colors
$color-icon: #fa130b;
$color-detail: #ed3b3b;
$color-text: #000000;
$color-hover: rgb(16, 248, 132);
$color-background: #fcf1ec;
